include "monitors.kdl"
include "input.kdl"
include "look.kdl"
include "autostart.kdl"
include "keybinds.kdl"
include "window_rules.kdl"
include "env.kdl"
include "layer_rules.kdl"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

include "./noctalia.kdl"

